.git
.gitignore
.pytest_cache
__pycache__
*.pyc
*.pyo
*.pyd
.DS_Store

venv
.venv
env

output
debug_output
output_kmean
test_image_output
my_station_maps
서울교통공사_역이용안내도_20250310

*.blend
*.blend1
*.fbx
*.glb
*.zip
*.csv
*.docx
*.docx#
.~lock.*

blender-map-generator
blender-map-generator/__pycache__
blender-map-generator (Copy)
animated-escalator
remove_icon
build_escalator_*.py
auto_escalator_*.py

*.mp4
*.mov
*.avi
